/* body {
  background: rgb(236, 230, 230);
}

h1 {
  color: #10284e;
}

#header {
  height: 50px;
  background: #10284e;
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color: #fff;
}

div.breadcrumbs {
  background: #30caa0;
  color: #fff;
}

div.breadcrumbs a {
  color: #fff;
}

.module caption,
.module h2,
.inline-group h2 {
  background: #30caa0;
}

.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
  background: #10284e;
  color: #fff;
} */
